@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
  --scrollbar-thumb: #d4d4d4;
  --scrollbar-thumb-border: #f9fafb;
  --scrollbar-thumb-hover: #737373;
  --font-vazirmatn: 'Tahoma', 'Segoe UI', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;

    --scrollbar-thumb: rgba(128, 128, 128, 0.4);
    --scrollbar-thumb-border: #191919;
    --scrollbar-thumb-hover: whitesmoke;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes meteor-fall {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    transform: translate(-120vw, 100vh) scale(0.95);
    opacity: 0;
  }
}

.meteor {
  animation: meteor-fall 3s linear infinite;
}

@keyframes fadeScale {
  0% {
    transform: scale(0.75);
  }

  10% {
    transform: scale(1.5);
  }

  45% {
    transform: scale(1.25);
  }

  85% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(0.75);
  }
}

.animate-fade-scale {
  animation: fadeScale 2s ease-in-out infinite;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0)
  }

  20% {
    transform: translateX(-2px)
  }

  40% {
    transform: translateX(2px)
  }

  60% {
    transform: translateX(-2px)
  }

  80% {
    transform: translateX(2px)
  }
}

.shake {
  animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-out;
}

/* Sidebar animations */
@keyframes fade-in-side {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-side {
  animation: fade-in-side 0.15s ease-out forwards;
  opacity: 0;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out forwards;
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@keyframes ellipsis {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}

.ellipsis::after {
  content: '';
  display: inline-block;
  width: 1.2ch;
}

.after\:animate-ellipsis::after {
  animation: ellipsis 1.5s infinite steps(1, end);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }

  .scrollbar-input::-webkit-scrollbar,
  .scrollbar-textarea::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 100vh;
    border: 3.5px solid var(--scrollbar-thumb-border);
    transition: background 0.3s ease;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }

  .scrollbar-chat {
    --scrollbar-thumb-border: #f9fafb !important;
  }

  .scrollbar-input,
  .scrollbar-textarea,
  .scrollbar-dialog {
    --scrollbar-thumb-border: white !important;
  }

  @media (prefers-color-scheme: dark) {
    .scrollbar-chat {
      --scrollbar-thumb-border: #202020 !important;
    }

    .scrollbar-input {
      --scrollbar-thumb-border: #303030 !important;
    }

    .scrollbar-dialog {
      --scrollbar-thumb-border: #404040 !important;
    }

    .scrollbar-textarea {
      --scrollbar-thumb-border: #202020 !important;
    }
  }
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
  width: 0;
}

.thin-scrollbar {
  scrollbar-width: thin;
}

html,
body,
#app {
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), Arial, Helvetica, sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.katex-display {
  display: block;
  overflow-x: auto;
  direction: ltr;
  font-size: large;
}

.katex {
  overflow-x: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 100%;
}

@media (display-mode: standalone) {
  @layer utilities {
    .-top-safe-10 {
      top: calc(env(safe-area-inset-top) - 10px);
    }

    .top-safe {
      top: env(safe-area-inset-top);
    }

    .bottom-safe {
      bottom: env(safe-area-inset-bottom);
    }

    .top-safe-20 {
      top: calc(env(safe-area-inset-top) + 20px);
    }

    .bottom-safe-20 {
      bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .top-safe-34 {
      top: calc(env(safe-area-inset-top) + 34px);
    }

    .bottom-safe-34 {
      bottom: calc(env(safe-area-inset-bottom) + 34px);
    }

    .top-safe-44 {
      top: calc(env(safe-area-inset-top) + 44px);
    }

    .bottom-safe-44 {
      bottom: calc(env(safe-area-inset-bottom) + 44px);
    }

    .top-safe-3\/1 {
      top: calc(3 * env(safe-area-inset-top));
    }

    .bottom-safe-3\/1 {
      bottom: calc(3 *env(safe-area-inset-bottom));
    }

    .pt-safe {
      padding-top: env(safe-area-inset-top);
    }

    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }

    .pt-safe--20 {
      padding-top: calc(env(safe-area-inset-top) - 20px);
    }

    .pb-safe--20 {
      padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
    }

    .pt-safe--16 {
      padding-top: calc(env(safe-area-inset-top) - 16px);
    }

    .pb-safe--16 {
      padding-bottom: calc(env(safe-area-inset-bottom) - 16px);
    }

    .pt-safe-10 {
      padding-top: calc(env(safe-area-inset-top) + 10px);
    }

    .pb-safe-10 {
      padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
    }

    .pt-safe-20 {
      padding-top: calc(env(safe-area-inset-top) + 20px);
    }

    .pb-safe-20 {
      padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .py-safe {
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
    }

    .py-safe-20 {
      padding-top: calc(env(safe-area-inset-top) + 20px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .mt-safe {
      margin-top: env(safe-area-inset-top);
    }

    .mb-safe {
      margin-bottom: env(safe-area-inset-bottom);
    }

    .mt-safe-20 {
      margin-top: calc(env(safe-area-inset-top) + 20px);
    }

    .mb-safe-20 {
      margin-bottom: calc(env(safe-area-inset-bottom) + 20px);
    }

    .mt-safe-30 {
      margin-top: calc(env(safe-area-inset-top) + 30px);
    }

    .mb-safe-30 {
      margin-bottom: calc(env(safe-area-inset-bottom) + 30px);
    }

    .mt-safe-40 {
      margin-top: calc(env(safe-area-inset-top) + 40px);
    }

    .mb-safe-40 {
      margin-bottom: calc(env(safe-area-inset-bottom) + 40px);
    }

    .my-safe {
      margin-top: env(safe-area-inset-top);
      margin-bottom: env(safe-area-inset-bottom);
    }

    .-mt-safe {
      margin-top: -env(safe-area-inset-top);
    }

    .-mb-safe {
      margin-bottom: -env(safe-area-inset-bottom);
    }
  }
}